h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

body {
  text-align: center;
}

hr {
  border-top: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  padding-top: auto;
  padding-bottom: auto;
  padding-left: auto;
  padding-right: auto;

}
a {
  color: #040404;
}

.navbar-title {
  font-family: serif;
  font-weight: bold;
}

.img-fluid {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 15px;
  width: 85%;
  border: 5px solid #040404;
  align-content: center;


}

p {
  padding-left: 75px;
  padding-right: 87px;
  text-indent: auto;
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', sans-serif;
  text-indent: 35px;
  text-align: center;
}

h3 {
font-family: 'Playfair Display', serif;
text-align: center;
font-size: 25px;
}

.row2 {
  text-indent: 25px;

}

.column{
  font-family: 'Playfair Display', serif;

}

.img-fluid2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: 15px;
    width: 100%;
    border: 5px solid #040404;
    justify-content: center;
}

.row1photos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.row3 {
  justify-content: center;
}
.rowfooter {
  background-color: #D8D5D5;
}

.porschegt2 {
  display: flex;
}

.img-fluidphotos {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    width: 500px;
    display: flex;
    justify-content: center;



}

.footer-link {
  text-align: center;
  background-color: #D8D5D5;
}


.column2 {
  background-color: #D8D5D5;
}
